.ant-input-group >.ant-input-affix-wrapper:not(:first-child) .ant-input {
    font-size: 12px;
}

.ant-input-group .ant-input-group-addon  {
    padding: 0 7px
}

.ant-spin-nested-loading >div>.ant-spin-lg .ant-spin-text {
    padding-top: 25px;
}